# Prerequisites
*.d
__pycache__
# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.pyc
# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
z
yolov5s
create_engine
triton_deploy
create_container.sh
tensorrtx/
yolov5s
*.jpg
*.png
*.engine
*.wts
*.o
*.so
*.wts
*.pt
